.graybackgroundbox {
background-color: #F1F1F2;
padding-top: 10px;
padding-right: 0px;
padding-bottom: 2px;
padding-left: 0px;
width: 100%;
overflow: hidden;
margin-top: 30px;
margin-bottom: 40px;
}

.graybackgroundboxsmall {
background-color: #F1F1F2;
padding-top: 10px;
padding-right: 0px;
padding-bottom: 2px;
padding-left: 0px;
width: 100%;
overflow: hidden;
margin-top: 30px;
margin-bottom: 0px;
}


.bulletcol1 {
width: 40%;
float:left;
display:table;
white-space:nowrap; 
}

.bulletcol2 {
width: 60%;
float:left;
display:table;
white-space:nowrap; 
} 


.warrantycol2 {
float: left;
margin-left: 20px;
}

.warrantycol1 {
width: 70%;
float: left;
margin-bottom: 20px;
} 

.ui-datepicker td.ui-state-disabled span
{
	color: #999;
}

.row
{
	width: 100%;
}

.row .one-half
{
	width: 47%;
	float: left;
}

.row .one-half.last
{
	margin-left: 1%;
}

.row:before
{
	clear: both;
}

.alabama-landing ul
{
	margin-left: 0px !important;
	padding-left: 0px !important;
}

article .dyo-promo.only-phone {
	display: none;
}

#field_4_6 {
    width: 100% !important;
    max-width: 127px !important;
}
	
.pagination {
    max-width: 770px !important;
    width: 100%  !important;
}

.bv-cleanslate .bv-core-container-61 .bv-content-header-meta
{
	
} 	

@media only screen and (max-width : 1232px) {
	.warrantycol2 {
		float: left;
		max-width: 35%;
		
	}
	.warrantycol1 {
		width: 60%;
	} 
}


@media only screen and (max-width : 1036px) {
	.warrantycol2 {
		float: left;
		max-width: 25%;
	}
	.warrantycol1 {
		width: 70%;
	} 
}

@media only screen and (max-width : 790px) {
	.warrantycol2 {
		float: left;
		max-width: 40%;
	}
	.warrantycol1 {
		width: 55%;
	} 
}


@media only screen and (max-width : 767px) {
	
	.only-desktop
	{
		display: none !important;
	}
	
	.only-phone
	{
		display: block !important;
	}
	
	article.iframearticle
	{
		padding-left: 15px !important;
		padding-right: 15px !important;
		width: 100%;
		height: 800px;
	}
	
	article.iframearticle iframe
	{
		overflow-x: scroll !important; 
		overflow-y: scroll !important;
		width: 100%;
		height: 800px;
	}
	
	.home .promo .gforms_confirmation_message
	{
		padding-top: 130px !important;
	}
	
	#formcontent .gform_footer, #formcontent .gform_confirmation_wrapper
	{
		position: relative;
		z-index: 9999;
	}
}

@media only screen and (max-width : 480px) {
	.warrantycol2 {
		float: none;
		max-width: 90%;
		text-align: center;
		margin: 20px 10px 10px 10px;
	}
	.warrantycol1 {
		width: 100%;
	} 
}

.show-for-small-phone
{
	display: none !important;
}
	
.hide-for-small-phone
{
	display: block !important;
}

/* BV Rating Summary CSS */

.reviews .bv-cleanslate .bv-core-container-60 .bv-summary-bar-minimalist-horizontal .bv-stars-container
{
	margin-right: 0px !important;
}

.reviews .bv-cleanslate .bv-core-container-60 .bv-primarySummary-rating-container .bv-rating-stars-container .bv-rating-stars
{
	font-size: 18.5px !important;
}	

.reviews .bv-cleanslate .bv-core-container-60 .bv-stars-container dd
{
	padding-right: 5px !important;
}

.reviews .bv-cleanslate .bv-core-container-60 .bv-summary-bar .bv-rating-ratio-number .bv-rating, .reviews .bv-cleanslate .bv-core-container-60 .bv-summary-bar .bv-rating-ratio-count
{
	line-height: 20px !important;
	font-size: 12px !important;
}

.reviews .bv-cleanslate .bv-core-container-60 .bv-summary-bar-minimalist .bv-write-container .bv-submission-button.bv-write-review, .reviews .bv-cleanslate .bv-core-container-60 .bv-summary-bar-minimalist .bv-read-container .bv-submission-button.bv-write-review
{
	margin-right: 5px !important;
	font-size: 13px !important;
	line-height: 20px !important;
}

.gform_wrapper form .gform_body ul li input[type=text],
.gform_wrapper form .gform_body ul li input[type=number],
.gform_wrapper form .gform_body ul li input[type=tel],
.gform_wrapper form .gform_body ul li input[type=email] {
	display: block;
    width: 100%;
    height: 32px;
    padding: 0px 0px 0px 10px;
    font: 400 12px/32px "Open Sans" sans-serif;
    color: #A6A8AB;
    border: 1px solid #dbe0e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
    box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
}

.gform_wrapper form.formv2 .gform_body ul li input[type=number],
.gform_wrapper form.formv2 .gform_body ul li input[type=tel],
.gform_wrapper form.formv2 .gform_body ul li input[type=email] {
	display: block;
    float: left;
    width: 100%;
    height: 32px;
    margin-top: 12px;
    padding: 0px 0px 0px 10px;
    font: 400 12px/32px "Open Sans" sans-serif;
    color: #A6A8AB;
    border: 1px solid #dbe0e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
    box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
}

.gform_wrapper form .gform_body ul li.half-left
{
	width: 41% !important;
	margin-right: 5% !important;
	margin-bottom: 12px !important;
}

.gform_wrapper form .gform_body ul li.half-right
{
	width: 54% !important;
	margin-bottom: 12px !important;
	float: right !important;
}

.zipcode input[type=number]::-webkit-inner-spin-button, 
.zipcode input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
			
.zipcode input[type=number]
{
	-moz-appearance:textfield;
}

.gform_wrapper form .gform_body ul li.margintop12 input
{
	margin-top: 12px !important;
}


.gform_wrapper form .gform_body ul li.width55 input
{
	max-width: 55% !important;
	margin-left: 6px !important;
}

.gform_wrapper form .gform_body ul li.gfield_error  input[type="text"], .gform_wrapper form .gform_body ul li.gfield_error  input[type="number"], .gform_wrapper form .gform_body ul li.gfield_error  input[type="tel"], .gform_wrapper form .gform_body ul li.gfield_error input[type="email"] {
    border: 1px solid red;
}

@media only screen and (max-width : 599px) {
	.show-for-small-phone
	{
		display: block !important;
	}
	
	.hide-for-small-phone
	{
		display: none !important;
	}
	
	.heading .seats h1 em
	{
		display: block;
	}
	
	.gform_wrapper form .gform_body ul li.width55 input
	{
		margin-left: 0px !important;
	}
}	

@media only screen and (max-width : 450px) {
	#BVRRContainer .bv-cleanslate .bv-shared .bv-content-header-meta
	{
		margin-top: 30px !important;
	}
	
	#BVRRContainer .bv-cleanslate .bv-shared .bv-content-badges-container
	{
		left: 0px !important;
		width: 100% !important;
	}
	
}	
